# Ignorar los archivos de configuración de macOS
.DS_Store

# Ignorar los archivos de bytecode de Python
__pycache__/

# Ignorar los archivos de configuración de Streamlit
.streamlit/

# Ignorar los archivos de entorno virtual de Python, si los tienes
venv/
*.pyc